::before, *::after {
  -mox-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, .container-fluid, .sidebar-container {
    height:100%;
}

.sidebar {
  background-color: #006666;
  color: white;
  height: 100%;
}

.sidebar-title {
  font-weight: bold;
  float: right;
  padding: 10px;
}

.sidebar-nav {
  background-color: #009999;
}

.roomName {
  font-size: 150%;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

.button-send {
  background-color: #009999;
  color: white;
}

.create-room {
  display: block;
  margin: auto;
  background-color: #74a5a5;
  color: white;
}

.glyphicon {
  padding: 1px;
}

.chatroom-header {
  color: white;
  background-color: #009999;
  text-align: center;
  padding: 10px;
}

.chatroom-messages {
  padding: 0px;
  border: 0px;
  margin: 0px;
}

.chatroom-username {
  font-weight: bold;
  text-align: left;
}

.chatroom-content {
  text-align: left;
}

.chatroom-time {
  text-align: right;
}

@media (min-width: 640px) {
  html {
    font-size: 112%;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 120%;
  }
}
