::before, *::after {
  -mox-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, .container-fluid, .sidebar-container {
    height:100%;
}

.sidebar {
  background-color: #006666;
  color: white;
  height: 100%;
}

.sidebar-title {
  font-weight: bold;
  float: right;
  padding: 10px;
}

.sidebar-nav {
  background-color: #009999;
}

.roomName {
  font-size: 150%;
  text-align: center;
}

.btn {
  background-color: #009999;
  color: white;
}

.create-room {
  float: left;
  margin-top: 35px;
}

.glyphicon {
  padding: 1px;
}

.chatroom-header {
  color: white;
  background-color: #009999;
  text-align: center;
}

.chatroom-messages {
  padding: 0px;
  border: 0px;
  margin: 0px;
}

.chatroom-username {
  font-weight: bold;
  text-align: left;
}

.chatroom-content {
  text-align: left;
}

.chatroom-time {
  text-align: right;
}

@media (min-width: 640px) {
  html {
    font-size: 112%;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 120%;
  }
}

/**, *

html {
  width: 100%;
}

.sidebar {

  height: 100%;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
}

.sidebar-header {
  position: fixed;
  z-index: 0;
  color: white;
}

.sidebar-nav {
  top: 75px;
  right: 15px;
  z-index: 3;
  position: relative;
  color: white;
  font-size: 75%;
  text-align: right;

}

.roomName {
  display: block;
}

.modal {
  border: none;
  text-decoration: none;
  display: inline-block;
  position: relative;
  z-index: 6;
  background-color: #009999;
  color: white;
  bottom: -150px;
}

.chatroom {
  float: right;
  text-align: left;
  color: #4c4949;
  position: relative;
  z-index: 6;
}

.chatroom-name {
  color: #009999;
}

p {
  top: -20px;
  padding: 5px;
  display: inline;
}

.chatroom-username {
  color: #009999;
}

.chatroom-time {
  font-style: italic;
  text-align: right;
  font-size: 45%;
}

.chatroom-send {
  position:fixed;
  bottom: 0;
  z-index: 6;
  display: inline;
  color: grey;
}

.otherline {
  background-color: #d2f4f4;
}

button {
  border: none;
  text-decoration: none;
  background-color: #009999;
  color: white;
  opacity: 1;
  float: right;
  display: inline;
}


*/
