.user-container {
  position: absolute;
  z-index: -2;
  background-color: #006666;
  color: white;
  width: 20%;
  text-align: center;
  margin-left: 30%;
  margin-top: 75px;
  top: 100px;
}

.user-body {
  position: relative;
  display: inline-block;
}

button {
  border: none;
  text-decoration: none;
  background-color: #009999;
  color: white;
}

.user-error {
  color:black;
  position: absolute;
  z-index: 8;
  background-color: red;
  margin-left: 30%;
  margin-top: 75px;
  top: 100px;

}
