<div class="container-fluid">
  <div class="sidebar-container row">
    <div class="sidebar col-sm-2">
      <h1 class="sidebar-header">Sea Chat</h1>
      <div class="sidebar-nav" ng-repeat="room in landing.rooms">
        <h2 class="roomName" ng-show="room.userList === false || room.userList.indexOf(landing.currentUser) > -1" ng-click="landing.selectedRoom(room)">{{ room.name }}</h2>
      </div>
      <button class="create-room btn" ng-click="landing.open()">Create Room</button>
    </div>
    <div class="chatroom col-sm-10" ng-show="landing.currentRoom !== null">
      <h3 class="chatroom-header">{{landing.currentRoom.name}}</h3>
      <table class="chatroom-messages table" ng-repeat="message in landing.currentRoomMessages">
        <tbody>
          <tr>
            <td class="chatroom-username">{{message.username}}:</td>
            <td class="chatroom-content">{{message.content }}</td>
            <td class="chatroom-time"><sub>{{message.sentAt | date: "shortTime" }}</sub></td>
          </tr>
        </tbody>
      </table>
      <div class="chatroom-send input-group">
        <textarea class="form-control" placeholder="Send message ..." name="entryfield" rows="1" cols="100" ng-model="text"> </textarea>
        <span class="input-group-btn">
          <button class="button-send btn btn-default" type="button" ng-click="landing.sendMessage(text); entryfield.$setPristine() ;  text = ' ' ">Send</button>
      </span>
      </div>
    </div>
  </div>
