  <div class="newRoom row modal-dialog">
      <div class="room-header modal-header">
        <h3 class="room-body text-center">Create new room</h3>
      </div>
      <div class="room-body modal-body">
        <div class="form-group room-input">
          <label for="newRoomName">Enter a room name</label>
          <input id="newRoomName" type="text" name="roomForm" ng-model="name">
          <p class="user-error" ng-show="name.length < 3">Please enter a room name longer than 3 characters</p>
        </div>
      </div>
      <div class="room-footer modal-footer">
        <button class="btn room-cancel" type="button" ng-click="$dismiss()">Cancel</button>
        <button class="btn room-create" type="button" ng-click="modal.create(name)">Create Room</button>
      </div>
  </div>
